{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Привет!</h1>
    <p class="lead">Рады видеть Вас...снова.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начало работы</h2>
        <p>
            ......
        </p>
        <p><a class="btn btn-default" href="http://www.vase-head.com/">Начать &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Узнать больше...</h2>
        <p>Больше информации</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Больше информации &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Новинки</h2>
        <p>Новинки в магазине...</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Больше информации &raquo;</a></p>
    </div>
</div>

{% endblock %}
